* {
  box-sizing: border-box;
}
#parent-box {
  display: flex;
}

#task-box,
time-weather-parent,
weather-container {
  border-radius: 2%;
  box-shadow: 0 1px 3px rgb(0 0 0 / 0.2);
}
#task-box {
  display: none;
}
